/* Write some CSS below */
#banner {
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('images/background.jpg');
	background-size: cover;
	background-position: center;
	padding: 150px;
	/* margin: 20px;*/
	text-align: center;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}

.container-box-sahdow{
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}

.titles{
  color: white;
  font-family: 'Roboto ', sans-serif;
}

.descripcion{
	text-align: justify;
	font-family: 'Roboto ', sans-serif;
	font-size: 18px;
	padding: 10px 0px;
}

.sub-titles{
	text-align: center;
	font-weight: 700;
	font-family: 'Roboto ', sans-serif;
}

.button{
	color: white;
	text-decoration: none;
	background-color: #0A66C2;	
	padding: 10px 20px;
	border-radius: 20px;
	display: inline-block;
	transition: .3s;
	width: 200px;
}

.button:hover{
	background-color: #08529b;
}


.card-white{
	background: white;
	padding: 30px;
	border: 2px solid lightgrey;
	text-align: center;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	margin: 20px 0px;
	box-shadow: 3px 3px 4px rgba(0, 0, 0,0.1);
}

.img-circle:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 1;
}

.project-image{
	object-fit: scale-down;
}

.image-border{
	border: 2px solid #333333;
}

.flags{
	text-align: center;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
}

.flag-icon{
	font-size: 40px;
}

.fas.fa-futbol{
	color: black;
	font-size: 18px;
}

.fas.fa-film{
	color: black;
	font-size: 18px;
}

.fas.fa-music{
	color: black;
	font-size: 18px;
}

.fas.fa-suitcase-rolling{
	color: black;
	font-size: 18px;
}

.fas.fa-chevron-left{
	color: #111111;
	font-size: 30px;
}

.fas.fa-chevron-right{
	color: #111111;
	font-size: 30px;
}

.carousel-control-prev {
margin-left: -40px;
}

.carousel-control-next {
margin-right: -40px;
}

.carousel-indicators{
	margin-bottom: -5px;
}

.carousel .carousel-indicators li {
	background-color: #c3ccd5;
}
.carousel .carousel-indicators li.active {
	background-color: black;
}