/* Write some CSS below */
body{
	margin: 0;
}

h1{
  color: grey;
}

p{
	font-size: 16px;
	color: RGB(34, 124, 157);
}

a:hover{
	color: darkred ;
}


#header {
  padding: 30px 10px;
  /* border: 4px solid black; */
  margin: 20px;
  text-align: center;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}

#preferencias {
  padding: 30px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 4px solid black;
}

#cards {
  background-color: lightblue;
  margin: 0;
  padding: 30px 10px;
  text-align: right;
}

#link{
	background: lightcyan;
	margin: 0;
	padding: 30px 10px;
	box-shadow: 3px 3px 4px rgb(0, 0, 0);
	font-family: cursive;
	font: bolder;
}

#lista {
  background-color: burlywood;
}

.img-circle{
	border-radius: 50%;
	padding: 100px;
}
.border-black{
		border: 4px solid black;
}

.margins{
	margin-right: 500px;
}

.fas.fa-anchor{
	color: black;
	font-size: 50px;
}

.fas.fa-anchor:hover{
	color: grey;
}

.fab.fa-angellist{
	color: black;
	font-size: 50px;
}

.fab.fa-angellist:hover{
	color: darksalmon;
}

.fas.fa-bone{
	color: black;
	font-size: 50px;
}

.fas.fa-bone:hover{
	color: white ;
}

.fab.fa-linkedin{
	color: black;
	font-size: 50px;
}

.fab.fa-linkedin:hover{
	color: darkblue ;
}